openapi: 3.1.0
info:
  title: Aura API
  version: 0.1.0
  description: |
    HTTP endpoints for Aura, an autonomous AI agent that operates in Slack.
    Current surface: Slack webhooks, health checks, and cron execution.
  contact:
    name: Aura
    url: https://aurahq.ai
servers:
  - url: https://api.aurahq.ai
    description: Production
  - url: https://aura-alpha-five.vercel.app
    description: Current backend deployment hostname
paths:
  /api/slack/events:
    post:
      summary: Slack events webhook
      operationId: handleSlackEvents
      description: |
        Receives Slack Events API payloads. Requests must include valid Slack
        signature headers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/SlackChallenge"
                - $ref: "#/components/schemas/SlackEventCallback"
      responses:
        "200":
          description: Event accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        "401":
          description: Invalid Slack signature
      tags:
        - Slack
  /api/slack/interactions:
    post:
      summary: Slack interactions webhook
      operationId: handleSlackInteractions
      description: |
        Receives interactive payloads from Slack (block actions and modal submissions).
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                payload:
                  type: string
                  description: JSON-encoded Slack interaction payload.
      responses:
        "200":
          description: Interaction acknowledged
      tags:
        - Slack
  /api/health:
    get:
      summary: Health check
      operationId: getHealth
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
      tags:
        - System
  /api/cron/heartbeat:
    get:
      summary: Run heartbeat sweep
      operationId: runHeartbeat
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Heartbeat completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  executed:
                    type: integer
                  failed:
                    type: integer
                  plansExpired:
                    type: integer
                  plansAbandoned:
                    type: integer
                  staleRunningRecovered:
                    type: integer
                  duration:
                    type: integer
        "401":
          description: Unauthorized
      tags:
        - Cron
  /api/cron/consolidate:
    get:
      summary: Run memory consolidation
      operationId: runConsolidation
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Consolidation completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  duration:
                    type: integer
                additionalProperties: true
        "401":
          description: Unauthorized
      tags:
        - Cron
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Cron endpoints require `Authorization: Bearer <CRON_SECRET>`.
  schemas:
    HealthResponse:
      type: object
      properties:
        ok:
          type: boolean
        timestamp:
          type: string
          format: date-time
    SlackChallenge:
      type: object
      required:
        - type
        - challenge
      properties:
        type:
          type: string
          enum: [url_verification]
        challenge:
          type: string
    SlackEventCallback:
      type: object
      required:
        - type
        - event
      properties:
        type:
          type: string
          enum: [event_callback]
        event:
          type: object
          additionalProperties: true
tags:
  - name: Slack
    description: Slack integration endpoints
  - name: System
    description: Operational health endpoints
  - name: Cron
    description: Scheduled background execution endpoints
